<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Pet</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body>

<div class="container" style="alignment: center">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#B38867">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="font-size: large">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Director<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addDirectorFormjj}">Goods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PetStore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Species</a>
                </li>

            </ul>
        </div>
    </nav>

    <h3>Add New Pet</h3>
    <hr/>

    <form th:action="@{/pet/create}" th:object="${pet}" method="POST">

        <input type="date" th:field="${pet.DateOfBirth}" class="form-control col-4 mb-4" style="width: 50%"
               placeholder="Enter date of birth"/>

        <input type="number" th:field="${pet.Price}" class="form-control col-4 mb-4" placeholder="Enter price" />


        <select class="form-select" th:field="${pet.petStoreId}" style="width: 50%">
            <option th:each="petStore: ${petStores}" th:value="${petStore.Id}" th:text="${petStore.Name}"></option>
        </select>

        <select class="form-select" th:field="${pet.SpeciesId}" style="width: 50%">
            <option th:each="species1: ${species}" th:value="${species1.Id}" th:text="${species1.Name}"></option>
        </select>


        <button type="submit" class="btn btn-primary col-2">Save</button>

    </form>
    <hr/>
    <a th:href="@{/pet/getAll}">Back to list</a>
</div>

</body>
</html>