<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Pet</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body style="background-color:#EBDCB2">

<div class="container" style="alignment: center">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#B38867">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="font-size: large">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/director/getAll}">Director</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/goods/getAll}">Goods</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/manager/getAll}">Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pet/getAll}">Pet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/petStore/getAll}">PetStore</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/seller/getAll}">Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/species/getAll}">Species</a>
                </li>

            </ul>
        </div>
    </nav>

    <h3>Update pet</h3>
    <hr/>

    <form th:action="@{/pet/update}" th:object="${pet}" method="POST">

        <h4>Enter date of birth</h4>

        <input type="date" th:field="${pet.dateOfBirth}" class="form-control col-4 mb-4"/>
        <ul>
            <li th:each="err : ${#fields.errors('dateOfBirth')}" th:text="${err}" class="error" />
        </ul>
        <h4>Enter price</h4>

        <input type="number" th:field="${pet.price}" class="form-control col-4 mb-4"/>

        <ul>
            <li th:each="err : ${#fields.errors('price')}" th:text="${err}" class="error" />
        </ul>

        <input type="hidden" th:field="${pet.id}" />

        <button type="submit" class="btn btn-primary col-2">Update</button>

    </form>
    <hr/>
    <a th:href="@{/pet/getAll}">Back to list</a>
</div>

</body>
</html>